/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
    background-color: #dabdad;
}

#app {
    padding: 0 3vw;
}

h1 {
   font-family: Spectral;
   width: 100%;
   margin: 1em 0 1em 10%;
}

p {
    font-family: Sacramento;
    font-size: 2em;
    animation: fadeIn 3s;
}

.container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background: white;
    overflow: scroll;
}

.lighten {
    color: #aaa;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
